<!-- begin::User -->
<div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass" id="kt_header_user_menu_toggle">
  <div class="cursor-pointer symbol" [ngClass]="toolbarUserAvatarHeightClass" data-kt-menu-trigger="click"
    data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
    <span class="symbol-label bg-light-primary text-primary fw-bold fs-5">
      <i class="bi bi-person-fill fs-3 text-primary"></i>
    </span>
  </div>
  <app-user-inner></app-user-inner>
</div>
<!-- end::User -->
