<div class="modal d-block fade show" tabindex="-1" style="background-color: rgba(0,0,0,0.5);"
    (click)="closeDialog.emit()">
    <div class="modal-dialog modal-dialog-centered" [ngClass]="'modal-' + size" (click)="$event.stopPropagation()">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <div class="modal-header border-bottom-0 pb-0 mt-4 px-5">
                <h3 class="modal-title fw-bolder text-dark">{{ title }}</h3>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog.emit()"></button>
            </div>
            <div class="modal-body px-5 py-4" style="max-height: 80vh; overflow-y: auto;">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>