.transition-all {
  transition: all 0.2s ease-in-out;
}

.max-w-250px {
  max-width: 250px;
}

.action-dropdown-menu {
  animation: fadeIn 0.15s ease-in-out;
  min-width: 210px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.timeline-item {
  position: relative;
  padding-left: 28px;
  &::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 20px;
    bottom: -15px;
    width: 2px;
    background-color: #e4e6ef;
  }
  &:last-child::before {
    display: none;
  }
  .timeline-badge {
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}
